h2{
		color:2584DB;
		font-size:35px;
		font-family:Impact;
		Broder:5px solid black;
		}
		P{
		color :24DCDC;
		font-size:25px;
		font-family:Verdana;
		Broder:5px solid black;
		}
		li{
		color :29D7BA;
		font-size:20px;
		font-family:Verdana ;
		Broder:5px solid black;
		}
	
